

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/


*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta

.idea/
.vs/
.vscode/
*.swp
*.swo


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.bak
*.tmp


*.tmp
*.tmp.meta


[Ll]ightmap_[0-9]*_[0-9]*.exr
[Ll]ightmap_[0-9]*_[0-9]*.exr.meta


/AddressableAssetsData/
/Library/ShaderCache/
/Library/ArtifactDB/
/Library/Bee/
/Library/BurstCache/
/Library/PackageCache/


*.log
*.old
*.performanceprofiler

Assets/TextMesh Pro/Fonts/
Assets/TextMesh Pro/Sprites/

*.unitypackage


/Backup/
/Exports/

